{% extends "TwinterestApp/skeleton.html" %}
{% load staticfiles %}

{% block title %}Mindshare Twitter{% endblock %}

{% block header %}
{% endblock %}


{% block stats %}
<!-- top tiles -->
<div class="row tile_count">
  <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count" style="color: #5e1a8d;">
    <span class="count_top" ><i class="fa fa-user"></i> Total Followers</span>
    <div class="count total_count"></div>
        <span class="count_bottom"> For <div class="brand_name" style="display: inline-block;"></div></span>
  </div>
  <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count" style="color: #861e9f;">
    <span class="count_top"><i class="fa fa-twitter"></i> Average # of Tweets</span>
    <div class="count tweets_count"></div>
    <span class="count_bottom"> Per Follower</span>
  </div>
  <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count" style="color: #a120ab;">
    <span class="count_top"><i class="fa fa-users"></i> Average # of Followers</span>
    <div class="count followers_count"></div>
    <span class="count_bottom"> Per Follower</span>
  </div>
  <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count" style="color: #854be4;">
    <span class="count_top"><i class="fa fa-check-circle"></i> Total Verified Followers</span>
    <div class="count verified_count"></div>
    <span class="count_bottom"> <div class="verified_percent" style="display: inline-block;"></div>% of All Followers</span>
  </div>
  <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count" style="color: #6e70f8;">
    <span class="count_top"><i class="fa fa-lightbulb-o"></i> Average Influence Score</span>
    <div class="count influence_score_count"></div>
    <span class="count_bottom"> Per Follower</span>
  </div>
  
</div>
<!-- /top tiles -->


{% endblock %}

{% block highchart %}
<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Follower Interests for <div class="brand_name" style="display: inline-block;"></div></h2>
        <ul class="nav navbar-right panel_toolbox">
          
          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
      <div id="container" style="margin: 0 auto"></div>
    </div>
    </div>
  </div>
</div>



{% endblock %}

{% block dist %}
<div class="row">
  <div class="col-md-7 col-sm-7 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Influence Score Distribution for <div class="brand_name" style="display: inline-block;"></div></h2>
        <ul class="nav navbar-right panel_toolbox">
          
          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
      <div id="dist" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
    </div>
    </div>
  </div>




{% endblock %}

{% block users %}

  <div class="col-md-5 col-sm-5 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Sample Followers for <div class="brand_name" style="display: inline-block;"></div></h2>
        <ul class="nav navbar-right panel_toolbox">
          
          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content" id="blockForUsers">
      <div id="list2" style="min-width: 310px; height:390px; margin: 0 auto">
      <ul id="usersDisplay" class="report">Click on a point on the Influence Score Distribution chart to see sample users with that score.</ul></div>
      
    </div>
    </div>
  </div>
</div>
{% endblock %}

{% block twitter %}
<div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Search Followers</h2>
                    <ul class="nav navbar-right panel_toolbox">
                      
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                        <div id ='twitter'>
                            <h4>
  <form class="form-inline" method="GET" id="twitter-form">
  <fieldset class="form-group">
    Show
    <input type="num" class="form-control" id="num" placeholder="#" style="width: 50px;">
  </fieldset>
  
  followers
  who are interested in
  <fieldset class="form-group">
    
    <select class="form-control" id="interests">
      <option value="all">Anything</option>
      <option value="Music">Music</option>
      <option value="Fashion/Beauty">Fashion &amp; Beauty</option>
      <option value="Gaming">Gaming</option>
      <option value="Food">Food</option>
      <option value="Tech">Technology &amp; Science</option>
      <option value="Biz">Business &amp; Finance</option>
      <option value="Politics">News &amp; Politics</option>
      <option value="Arts/Culture">Art &amp; Culture</option>
      <option value="Sports/Fitness">Sports &amp; Fitness</option>
      <option value="Unknown">Unknown</option>
      
    </select>
  </fieldset>
  who are also
  <fieldset class="form-group">
    
    <select class="form-control" id="professions">
      <option value="all">Any</option>
      <option value="casual_user">Casual User</option>
      <option value="business_expert">Business Expert</option>
      <option value="celebrity">Celebrity</option>
      <option value="writer">Writer or Journalist</option>
      <option value="youtube">Youtuber</option>
      <option value="brand_corp">Brand or Corporation</option>
      <option value="academic">Academic</option>
      
    </select>
  </fieldset>
  users.
  <button type="submit" class="btn btn-primary" style="background-color:#302782; outline-color: #302782;">Submit</button>

</form> 
</h4>
<div id="listdiv">
<ul id = "list" class="report"></ul>


</div>

                            
                        </div>
                  </div>
                </div>
              </div>
            </div>


{% endblock %}

