<!DOCTYPE html>
<html>
{% load staticfiles %}
<meta charset="utf-8">

<head>
    <link rel="icon" type="image/png" href="{% static 'images/Mindshare-logo-circle.png' %}"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta charset="UTF-8">


    <title>{% block title %}Mindshare Twitter Analyzer{% endblock %}</title>



 
    <!-- Bootstrap Core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
    <!-- Custom CSS -->

    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendors/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendors/nprogress/nprogress.css' %}" rel="stylesheet">
    <link href="{% static 'build/css/custom.css' %}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<style>
    .dropdownbutton {
        background-color: transparent;
        background-repeat:no-repeat;
        border: none;
        cursor:pointer;
        overflow: hidden;
        outline:none;
        width: 100%;
        text-align: left;
    }

    #tooltip {
        position: absolute;
        text-align: center;
        width: 40px;
        height: auto;
        padding: 10px;
        background-color: white;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
        -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
        pointer-events: none;    }
    #tooltip2 {
        position: absolute;
        text-align: center;
        width: 40px;
        height: auto;
        padding: 10px;
        background-color: white;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
        -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
        pointer-events: none;

    }

    #tooltip.hidden {
        display:none;
    }

    #tooltip p {
        margin:0;
    }

    .color_menu_option{
        background-color: #34adff;
        
    }

    h2{
        font-weight: bold;
    }
    p{
        font-size: 12pt;
        padding-left: 5px;
    }


</style>
<body class="nav-md"> 

<div class="container body">
      <div class="main_container">
        <div class="col-md-3 left_col">
          <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
              <div class="site_title"><i class="fa fa-twitter"></i><a href="home_page.html" style="color:white;"> <span>Twinterest</span></a></div>
            </div>

            <div class="clearfix"></div>

            <!-- menu profile quick info -->
           
            <!-- /menu profile quick info -->

            <br />

            <!-- sidebar menu -->
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
              <div class="menu_section">
                <h3>Twitter Accounts</h3>
                <ul class="nav side-menu dropdown" id="menuid" >
        
                </ul>
              </div>
            </div>
            <!-- /sidebar menu -->
          </div>
        </div>

        <!-- top navigation -->
        <div class="top_nav">
          <div class="nav_menu">
            <nav>
              <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
              </div>

              <ul class="nav navbar-nav navbar-right">
                <li class="">
                  
                  <ul class="dropdown-menu dropdown-usermenu pull-right">
                    
                  </ul>
                </li>

                <li role="presentation" class="dropdown">
                  <a href="home_page.html">
                  <strong><h5>
                    <i class="fa fa-file-text-o"></i>  Documentation
                    </h5></strong>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
        <!-- /top navigation -->

        <!-- page content -->


        <div class="right_col" role="main">
       
        
        {% block stats %}{% endblock %}
          <div class="">
            

            <div class="clearfix"></div>

            
                       
            {% block help %}{% endblock %}  
            <div id="highchartblock">{% block highchart %} {% endblock %}</div>
                           
            
            {% block dist %}{% endblock %}            
                  
            {% block users %}{% endblock %} 
            {% block twitter %}{% endblock %}
          </div>
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <footer>
          <div class="pull-right">
                     
            <img src="{% static 'images/Mindshare-Logo1.png' %}" height="30" width="85.5">
            Data Bytes 2016
          </div>
          <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
      </div>
    </div>


    <script type = "text/JavaScript">

            var catCount = {{categoriesPcts|safe}};
            console.log(catCount)
            var profCount = {{professionPcts|safe}};
            //console.log(profCount)
            //var catChecker = {{categoriesChecker|safe}};
            //console.log(catChecker)
            var profChecker = {{professionsChecker|safe}};
            //console.log(profChecker)
            var total = {{total|safe}};
            var influencerCount = {{influCount|safe}};

            var dists = {{getdists|safe     }};
            var interestCount = {{interCount|safe}};
            var interestUnknown = {{unknownCount|safe}};
            console.log(interestUnknown);
            
            var nobiodist = dists[0];
            var nobiodistcount = []
            var nobiousers = []
            for (var i = 0; i <= 100; i++) {
                nobiodistcount.push(nobiodist[i][0])
                nobiousers.push(nobiodist[i][1])
            };
            var techdist = dists[1];
            var techdistcount = []
            var techusers = []
            for (var i = 0; i <= 100; i++) {
                techdistcount.push(techdist[i][0])
                techusers.push(techdist[i][1])
            };   
            var fashiondist = dists[2];
            var fashiondistcount = []
            var fashionusers = []
            for (var i = 0; i <= 100; i++) {
                fashiondistcount.push(fashiondist[i][0])
                fashionusers.push(fashiondist[i][1])
            };
            var gamingdist = dists[3];
            var gamingdistcount = []
            var gamingusers = []
            for (var i = 0; i <= 100; i++) {
                gamingdistcount.push(gamingdist[i][0])
                gamingusers.push(gamingdist[i][1])
            };
            var artdist = dists[4];
            var artdistcount = []
            var artusers = []
            for (var i = 0; i <= 100; i++) {
                artdistcount.push(artdist[i][0])
                artusers.push(artdist[i][1])
            };
            var sportsdist = dists[5];
            var sportsdistcount = []
            var sportsusers = []
            for (var i = 0; i <= 100; i++) {
                sportsdistcount.push(sportsdist[i][0])
                sportsusers.push(sportsdist[i][1])
            };
            var fooddist = dists[6];
            var fooddistcount = []
            var foodusers = []
            for (var i = 0; i <= 100; i++) {
                fooddistcount.push(fooddist[i][0])
                foodusers.push(fooddist[i][1])
            };
            var poldist = dists[7];
            var poldistcount = []
            var polusers = []
            for (var i = 0; i <= 100; i++) {
                poldistcount.push(poldist[i][0])
                polusers.push(poldist[i][1])
            };
            var bizdist = dists[8];
            var bizdistcount = []
            var bizusers = []
            for (var i = 0; i <= 100; i++) {
                bizdistcount.push(bizdist[i][0])
                bizusers.push(bizdist[i][1])
            };
            var musicdist = dists[9];
            var musicdistcount = []
            var musicusers = []
            for (var i = 0; i <= 100; i++) {
                musicdistcount.push(musicdist[i][0])
                musicusers.push(musicdist[i][1])
            };
            var fulldist = dists[10];
            var fulldistcount = []
            var fullusers = []
            for (var i = 0; i <= 100; i++) {
                fulldistcount.push(fulldist[i][0])
                fullusers.push(fulldist[i][1])
            };
            console.log(fullusers);

            var tech = catCount[0];
            var sports = catCount[1];
            var art = catCount[2];
            var food = catCount[3];
            var politics = catCount[4];
            var business = catCount[5];
            var unknown = catCount[6];
            var gaming = catCount[7];
            var fashion = catCount[8];
            var music = catCount[9];

            var total_count = ({{total_count|safe}});
            var verified_count = ({{verified_count|safe}});
            var tweets_count = ({{tweets_count|safe}}).toFixed(2);
            var follower_count = ({{follower_count|safe}}).toFixed(2);
            var influence_score_count = ({{influence_score_count|safe}}).toFixed(2);

           
    </script>
    
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/jquery.min.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
   
    <!-- Chart -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js" charset="utf-8"></script>

    <!-- <script src = "{% static 'js/interestChart.js' %}"></script>
    <script src = "{% static 'js/professionChart.js' %}"></script>
    <script src = "{% static 'js/singleStack.js' %}"></script>
    <script src = "{% static 'js/singleStack2.js' %}"></script>
    <script src = "{% static 'js/colorbrewer.min.js' %}"></script>
    <script src = "{% static 'js/fisheye.js' %}"></script> -->

    <script src = "{% static 'js/custom.js' %}"></script>

    
    
    <script src = "{% static 'vendors/fastclick/lib/fastclick.js' %}"></script>
    <script src = "{% static 'vendors/nprogress/nprogress.js' %}"></script>
    <script src = "{% static 'build/js/custom.min.js' %}"></script>
    <!-- jQuery -->
    


    <script src = "{% static 'js/highcharts.js' %}"></script>
    <script src = "{% static 'js/drilldown.js' %}"></script>
    <script src = "{% static 'js/highchartsdata.js' %}"></script>
    <script src = "{% static 'js/dist.js' %}"></script>
    <script src = "{% static 'js/grid.js' %}"></script>


    
    

    <!-- <script src = "{% static 'js/nprogress.js' %}"></script>
    <script src = "{% static 'js/custom.min.js' %}"></script>
    <script src = "{% static 'js/fastclick.js' %}"></script> -->

    


    
   

    <script type="text/javascript">
    
        get_categories();
        $(".total_count").html(total_count);
        $(".tweets_count").html(tweets_count);
        $(".followers_count").html(follower_count);
        $(".verified_count").html(verified_count);
        $(".influence_score_count").html(influence_score_count);
        var percent_verfied = (verified_count/total_count).toFixed(2);
        $(".verified_percent").html(percent_verfied);


    </script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    
    

    </script>
      
    <script type="text/javascript">
    $(".brand_dropdown").click(function(){
        console.log("clicked menu item function working");
        $(this).css("background-color", "yellow");
    });
    </script>

  


    <script type = "text/javascript">
    $('#twitter-form').on('submit', function(event){
        event.preventDefault();
        console.log("form submitted!");  // sanity check
        
        console.log("calling get_usernames");
        get_usernames();
        
    });
    </script>

</body>
